<div>
<h1>{{titleToDisplay}}</h1>
<!-- 
<table class="table">
  <thead>
    <tr>
    <th>Select</th>
        <th>personId</th>
        <th>firstName</th>
        <th>lastName</th>
        </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of listOfPersons">
      <td><a routerLink="/person/{{person.personId}}">X</a> </td>
            <td>{{person.personId}}</td>
            <td>{{person.firstName}}</td>
            <td>{{person.lastName}}</td>
          </tr>
  </tbody>
</table>
<div class="col-md-12">
  <ul class="pager">
    <li *ngIf="currentPage > 1"><a  (click)="previousPage()">Previous</a></li>
    <li *ngIf="currentPage < lastPage"><a  (click)="nextPage()">Next</a></li>
  </ul>
</div>
-->
  <p-dataTable [value]="listOfPersons" [rows]="5" [paginator]="true" [pageLinks]="3"
               [lazy]="true"  [totalRecords]="totalRecords" (onLazyLoad)="loadPage($event)" [rowsPerPageOptions]="[5,10,20]" [responsive]="true" [stacked]="stacked">         
     <p-column styleClass="col-button">
      <ng-template let-objectToEdit="rowData" pTemplate="body">
        <button type="button" pButton (click)="editRow(objectToEdit)" icon="fa-search"></button>
      </ng-template>
    </p-column>
           <p-column field="personId" header="PERSONID"></p-column>
            <p-column field="firstName" header="FIRSTNAME"></p-column>
            <p-column field="lastName" header="LASTNAME"></p-column>
        </p-dataTable>
</div>
